@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: "Righteous", cursive;
  width: auto;
}
#content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  break-after: auto;
}
#header {
  background-image: url(./images/header-bg2.png);
  background-size: cover;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  position: relative;
  z-index: 10;
}
#header h1 {
  cursor: pointer;
}
#header h1:hover {
  color: #ced3dc;
}

#header-menu {
  display: flex;
  gap: 20px;
}
#header-menu p:hover {
  color: #ced3dc;
}

#header-menu p {
  cursor: pointer;
  font-size: 2.5vh;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}
#hero {
  text-align: center;
  color: whitesmoke;
  padding: 10%;
}
#hero h2 {
  font-size: 5vh;
  margin: 0;
}
#hero h3 {
  font-size: 4vh;
  margin: 0;
}
#order-button {
  padding: 20px;
  border-radius: 20px;
  font-size: 2vh;
  font-family: "Righteous", cursive;
  color: #393d3f;
  cursor: pointer;
  border: 0;
  margin: 10px;
}
#order-button:hover {
  background-color: #393d3f;
  color: whitesmoke;
}
#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  margin: 0;
}
#main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  margin: 0;
}
#hero-menu {
  height: fit-content;
  width: 50%;
  min-width: 550px;
  gap: 2px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 50px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}
.dishes h2 {
  margin: 0;
}
.dishes p {
  margin: 0;
}
.dishes {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 2vh;
  font-weight: lighter;
  background-color: rgba(250, 245, 245, 0.9);
  gap: 10px;
}
#hero-menu img {
  width: 200px;
  height: 200px;
}
#hero-title-menu {
  color: whitesmoke;
  border-bottom: 2px whitesmoke solid;
  font-size: 4vh;
}
#hero-contact {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 2vh;
  font-weight: lighter;
  background-color: rgba(250, 245, 245, 0.9);
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}
#contact-info img {
  width: 40px;
  height: 40px;
}
#contact-info p {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 768px) {
  #header {
    padding: 0 10px;
  }
  #header-menu p {
    font-size: 1.5vh;
    flex-wrap: wrap;
    gap: 5px;
  }
  #header h1 {
    font-size: 2vh;
  }
  #hero h2 {
    font-size: 2.5vh;
    margin: 0;
  }
  #hero h3 {
    font-size: 2vh;
    margin: 0;
  }
  #hero-menu img {
    width: 75px;
    height: 75px;
  }
  #hero-menu {
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    grid-template-columns: repeat(1, minmax(0, 0.6fr));
  }
  .dishes {
    font-size: 1.2vh;
  }
  #hero-contact {
    margin: 0 20px;
  }
  #header-menu {
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    justify-content: center;
  }
  #header-menu p {
    margin: 0;
  }
  #hero-title-menu {
    margin-top: 50px;
  }
  #main-menu {
    height: auto;
  }
}
