@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: "Mochiy Pop One", sans-serif;
  width: 100%;
}
#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#header {
  background-color: #393d3f;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  position: relative;
  z-index: 10;
}
#header h1 {
  cursor: pointer;
}
#header h1:hover {
  color: #ced3dc;
}

#header-menu {
  display: flex;
  gap: 20px;
}
#header-menu p:hover {
  color: #ced3dc;
}

#header-menu p {
  cursor: pointer;
  font-size: 2.5vh;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}
#hero {
  text-align: center;
  color: whitesmoke;
  padding: 10%;
}
#hero h2 {
  font-size: 5vh;
  margin: 0;
}
#hero h3 {
  font-size: 4vh;
  margin: 0;
}
#order-button {
  padding: 20px;
  border-radius: 20px;
  font-size: 2vh;
  font-family: "Mochiy Pop One", sans-serif;
  color: #393d3f;
  cursor: pointer;
  border: 0;
}
#order-button:hover {
  background-color: #393d3f;
  color: whitesmoke;
}
#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  margin: 0;
}
#hero-menu {
  height: 80%;
  width: 50%;
  min-width: 550px;
  gap: 2px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 50px;
}
.dishes {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 2vh;
  font-weight: lighter;
  background-color: rgba(250, 245, 245, 0.9);
  gap: 10px;
}
#hero-menu img {
  width: 150px;
  height: 150px;
}
#hero-title-menu {
  color: whitesmoke;
  border-bottom: 2px whitesmoke solid;
}
@media screen and (max-width: 768px) {
  #header {
    padding: 0 10px;
  }
  #header-menu p {
    font-size: 1.5vh;
  }
  #header h1 {
    font-size: 2vh;
  }
  #hero h2 {
    font-size: 2.5vh;
    margin: 0;
  }
  #hero h3 {
    font-size: 2vh;
    margin: 0;
  }
  #hero-menu img {
    width: 75px;
    height: 75px;
  }
  #hero-menu {
    height: fit-content;
    width: fit-content;
    margin: 0 20px;
  }
  .dishes {
    font-size: 1.2vh;
  }
}
